@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<br />

<a href="https://localhost:8081/_explorer/index.html" target="_blank" rel="noopener noreferrer">
    CosmosDB
</a>

<br />

<a href="https://localhost:8881/swagger/index.html" target="_blank" rel="noopener noreferrer">
    Swagger UI
</a>


